{% extends 'base.html.twig' %}

{% block title %}Edit ItemCategory{% endblock %}

{% block body %}
    <h1>Edit ItemCategory</h1>

    {{ include('item_category/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('item_category/_delete_form.html.twig') }}
{% endblock %}
