{% extends 'base.html.twig' %}

{% block title %}New ItemCategory{% endblock %}

{% block body %}
    <div class="container col-6">
        <h1>Create new Item Category</h1>

        {{ include('item_category/_form.html.twig') }}
    </div>


{% endblock %}
