{% extends 'base.html.twig' %}

{% block title %}Edit Item{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit listed item</h1>
        {{ include('item/_form.html.twig') }}
    </div>
{% endblock %}
