{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <div class="container">
        <h1>List a new Item</h1>

        {{ include('item/_form.html.twig') }}

    </div>
{% endblock %}
